@page "/"

<PageTitle>Forum Home</PageTitle>

<div class="container mt-4">
    <h1>Welcome to the Forum</h1>
    <div class="row mt-4">
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Manage forum users</p>
                    <a href="/users/create" class="btn btn-primary">Create User</a>
                    <a href="/users" class="btn btn-secondary">View Users</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    <p class="card-text">Browse and create posts</p>
                    <a href="/posts/create" class="btn btn-primary">Create Post</a>
                    <a href="/posts" class="btn btn-secondary">View Posts</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <p class="card-text">View all comments</p>
                    <a href="/comments" class="btn btn-secondary">View Comments</a>
                </div>
            </div>
        </div>
    </div>
</div>

