@page "/login"
@using BlazorApp.Client.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<AuthorizeView>
    <NotAuthorized>
        <div class="login-container">
            <label>User name:</label>
            <input type="text" @bind="userName" placeholder="Enter username"/>
            <label>Password:</label>
            <input type="password" @bind="password" placeholder="Enter password"/>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <label style="color: red">
                    @errorLabel
                </label>
            }
            <button @onclick="LoginAsync">Log in</button>
        </div>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity!.Name</h3>
        <p>You are already logged in!</p>
        <button @onclick="LogoutAsync">Log out</button>
    </Authorized>
</AuthorizeView>

@code {
    private string userName = "";
    private string password = "";
    private string errorLabel = "";

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).LoginAsync(userName, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

    private async Task LogoutAsync()
    {
        await ((SimpleAuthProvider)AuthProvider).Logout();
        navMgr.NavigateTo("/");
    }
}

